# https://github.com/linuxserver/docker-grocy?tab=readme-ov-file#docker-compose-recommended-click-here-for-more-info
---
services:
  grocy:
    image: linuxserver/grocy:{{ grocy_version }}
    container_name: "{{ grocy_container_name }}"
    environment:
      - PUID={{ grocy_puid }}
      - PGID={{ grocy_pgid }}
      - TZ={{ grocy_tz }}
    volumes:
      # Adjust this path to wherever you want to store Grocy’s config/data
      - "{{ grocy_compose_dir }}/config:/config"
    ports:
      - "{{ grocy_host_port }}:80"
    restart: unless-stopped

